<ion-view title="{{ 'UBOULDER' | translate }}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <div class="row">
      <div class="col-sm-20">
        <h1><a ng-back></a> {{ 'ABOUT' | translate }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-20 text-center">
        <img src="images/d.jpg" class="img-circle img-inline">
        <h3 class="text-center">David <br><small>The Rock</small></h3>
        <p class="text-center">
        	<a href="https://www.twitter.com/3x14159265" class="btn btn-twitter" target="_blank"><i class="ion-social-twitter"></i> 3x14159265</a>
          <br>
          <br>
          <a ng-href="http://www.pichsenmeister.com" class="btn btn-email" target="_blank">www.pichsenmeister.com</a><br>
        	<a ng-href="mailto:info@boulder.com" class="btn btn-email" target="_blank"><i class="fa fa-envelope icon-white"></i> info@uboulder.com</a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-20">
    	 <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-20">
        <h1>{{ 'DONATE' | translate }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-20">
        {{ 'DONATE_TXT' | translate }}<br>
        {{ 'DONATE_TXT_2' | translate }} {{ 'BTC' | translate }}, {{ 'LTC' | translate }}, 
        {{ 'DOGE' | translate }} {{ 'DONATE_TXT_3' | translate }} {{ 'PAYPAL' | translate }}.
        <br>
        <br>
        <p>
          <strong>{{ 'BTC' | translate }}</strong>: 1DmKmWCT96DtRuuoiBKsTqUatkPiN4Zww4
        </p>
        <p>
          <strong>{{ 'LTC' | translate }}</strong>: LaGiXyMTy1gc5gkqGqqQ55XLHLBUmNJKPh
        </p>
        <p>
          <strong>{{ 'DOGE' | translate }}</strong>: DNdQM49uQ4AiSgixnsXdu3CJc9oBmJLovk
        </p>
        <p>
          <strong>{{ 'PAYPAL' | translate }}</strong>: 
        </p>
            <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="Y7L4MCEMUYKTW">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
              </form>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-20">
        <hr>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-20">
        <h1>{{ 'IMPRINT' | translate }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-19">
      <p>
        David Pichsenmeister<br>
        Reindorfgasse 29/2/15<br>
        1150 Vienna, Austria<br>
        +43 660 7386568<br>
        Email: info@uboulder.com<br>
      </p>
      <h3>{{ 'IMPRINT_NOTE' | translate }}</h3>
      uBoulder {{ 'IMPRINT_NOTE_TEXT' | translate }}
      <h3>{{ 'IMPRINT_PRIVACY' | translate }}</h3>
      {{ 'IMPRINT_PRIVACY_NOTE' | translate }} <a href="#/app/terms">{{ 'IMPRINT_TERMS' | translate }}</a>    
      </div>
    </div>

    <div class="row">
      <div class="col-sm-20">
        <hr>
      </div>
    </div>

  </ion-content>
</ion-view>