<ion-view title="{{ 'UBOULDER' | translate }}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <div class="row">
      <div class="col-sm-20">
        <h1><a ng-back></a> {{ 'ABOUT' | translate }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-20 text-center">
        <img src="images/d.jpg" class="img-circle img-inline">
        <h3 class="text-center">David <br><small>The Rock</small></h3>
        <p class="text-center">
        	<a class="btn btn-twitter" onclick="window.open('https://www.twitter.com/3x14159265', '_system')"><i class="ion-social-twitter"></i> 3x14159265</a>
          <a onclick="window.open('https://www.facebook.com/3x14159265','_system')" class="btn btn-twitter"><i class="ion-social-facebook"></i> 3x14159265</a>
          <br>
          <br>
          <a onclick="window.open('http://www.pichsenmeister.com', '_system')" class="btn btn-email">www.pichsenmeister.com</a><br>
        	<a ng-href="mailto:info@boulder.com" class="btn btn-email" target="_blank"><i class="fa fa-envelope icon-white"></i> info@uboulder.com</a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-20">
    	 <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-20">
        <h1>{{ 'DONATE' | translate }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-20">
        {{ 'DONATE_TXT' | translate }}<br>
        {{ 'DONATE_TXT_2' | translate }} {{ 'BTC' | translate }}, {{ 'LTC' | translate }}, 
        {{ 'DOGE' | translate }} {{ 'DONATE_TXT_3' | translate }} {{ 'PAYPAL' | translate }}.
        <br>
        <br>
        <p>
          <strong>{{ 'BTC' | translate }}</strong>: 1DmKmWCT96DtRuuoiBKsTqUatkPiN4Zww4
        </p>
        <p>
          <strong>{{ 'LTC' | translate }}</strong>: LaGiXyMTy1gc5gkqGqqQ55XLHLBUmNJKPh
        </p>
        <p>
          <strong>{{ 'DOGE' | translate }}</strong>: DNdQM49uQ4AiSgixnsXdu3CJc9oBmJLovk
        </p>
        <p>
          <strong>{{ 'PAYPAL' | translate }}</strong>: david@pichsenmeister.com
        </p>
        <p>
          {{ 'DOWNLOAD_PRO' | translate }}
        </p>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-20">
        <hr>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-20">
        <h1>{{ 'IMPRINT' | translate }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-19">
      <p>
        David Pichsenmeister<br>
        Email: info@uboulder.com<br>
      </p>
      <h3>{{ 'IMPRINT_NOTE' | translate }}</h3>
      uBoulder {{ 'IMPRINT_NOTE_TEXT' | translate }}
      <h3>{{ 'IMPRINT_PRIVACY' | translate }}</h3>
      {{ 'IMPRINT_PRIVACY_NOTE' | translate }} <a href="#/app/terms">{{ 'IMPRINT_TERMS' | translate }}</a>    
      </div>
    </div>

    <div class="row">
      <div class="col-sm-20">
        <hr>
      </div>
    </div>

  </ion-content>
</ion-view>