<div class="row">
  <div class="col-sm-20">
    <h1><a ng-back></a> {{ 'ABOUT' | translate }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-20 text-center">
    <img src="/public/img/t/d.jpg" class="img-circle img-responsive img-inline">
    <h3 class="text-center">David <br><small>The Rock</small></h3>
    <p class="text-center">
    	<a href="https://www.twitter.com/3x14159265" class="btn btn-twitter" target="_blank"><i class="ion-social-twitter"></i> 3x14159265</a><br>
    	<a ng-href="mailto:david@{{ DATA.shortDomain }}" class="btn btn-email" target="_blank"><i class="fa fa-envelope icon-white"></i> info@uboulder.com</a>
    </p>
  </div>

</div>

<div class="row">
  <div class="col-sm-20">
	<hr>
</div>

<div class="row">
  <div class="col-sm-20">
    <h1>{{ 'DONATE' | translate }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-20">
    {{ 'DONATE_TXT' | translate }}<br>
    {{ 'DONATE_TXT_2' | translate }} {{ 'BTC' | translate }}, {{ 'LTC' | translate }}, 
    {{ 'DOGE' | translate }} {{ 'DONATE_TXT_3' | translate }} {{ 'PAYPAL' | translate }}.
    <br>
    <br>
    <p>
      <strong>{{ 'BTC' | translate }}</strong>: 
    </p>
    <p>
      <strong>{{ 'LTC' | translate }}</strong>: 
    </p>
    <p>
      <strong>{{ 'DOGE' | translate }}</strong>: 
    </p>
    <p>
      <strong>{{ 'PAYPAL' | translate }}</strong>: 
    </p>
  </div>
</div>


<div class="row">
  <div class="col-sm-20">
  <hr>
</div>


<div class="row">
  <div class="col-sm-20">
    <h1>{{ 'IMPRINT' | translate }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-1 col-sm-19">
  <p>
    David Pichsenmeister<br>
    Reindorfgasse 29/2/15<br>
    1150 Vienna, Austria<br>
    +43 660 7386568<br>
    Email: info@uboulder.com<br>
  </p>
  <h3>{{ 'IMPRINT_NOTE' | translate }}</h3>
  uBoulder {{ 'IMPRINT_NOTE_TEXT' | translate }}
  <h3>{{ 'IMPRINT_PRIVACY' | translate }}</h3>
  {{ 'IMPRINT_PRIVACY_NOTE' | translate }} <a href="#/terms">{{ 'IMPRINT_TERMS' | translate }}</a>    
  </div>
</div>

<div class="row">
  <div class="col-sm-20">
  <hr>
</div>