<div class="row">
  <div class="col-sm-20">
	 <h1><a ng-back></a> {{ 'PRICING' | translate }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-20">
    <legend>{{ 'PRICING_EXTRA' | translate }} <small>{{ 'PRICING_P_MONTH' | translate }}</small></legend>
  </div>
</div>
<div class="row">
  <div class="col-sm-5">
      <div class="thumbnail">
        <div class="caption text-center">
        	<h4>{{ 'PRICING_BASIC' | translate }}</h4>
        	<span class="label label-info">{{ 'PRICING_FREE' | translate }}</span></div>
        <p class="text-center">
        	3 {{ 'PRICING_MONTHS' | translate }}, 5 {{ 'PRICING_PHOTOS' | translate }}
        </p>
      </div>
  </div>
  <div class="col-sm-5">
      <div class="thumbnail marker">
        <div class="caption text-center">
        	<h4>{{ 'PRICING_MARKER' | translate }}</h4>
        	<span class="label label-success">5 EUR</span></div>
        <p class="text-center">
        	{{ 'PRICING_YBG' | translate }}
        </p>
      </div>
  </div>
  <div class="col-sm-5">
      <div class="thumbnail">
        <div class="caption text-center">
        	<h4>6 {{ 'PRICING_MONTHS' | translate }}</h4>
        	<span class="label label-success">18 EUR</span></div>
        <p class="text-center">
        	{{ 'PRICING_EXTRA_RT' | translate }}
        </p>
      </div>
  </div>
  <div class="col-sm-5">
      <div class="thumbnail">
        <div class="caption text-center">
        	<h4>12 {{ 'PRICING_MONTHS' | translate }}</h4>
        	<span class="label label-success">30 EUR</span></div>
        <p class="text-center">
        	{{ 'PRICING_EXTRA_RT' | translate }}
        </p>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-20">
    <legend>{{ 'PRICING_FEATURES' | translate }} <small>{{ 'PRICING_P_MONTH' | translate }}</small></legend>
  </div>
</div>
<div class="row">
	<div class="col-sm-10">
	    <div class="thumbnail">
	      <div class="caption text-center">
	      	<h3>{{ 'PRICING_CAT_HL' | translate }}</h3>
	      	<span class="label label-success">25 EUR</span></div>
	      <p class="text-center">
	      	{{ 'PRICING_CAT_HL_DESCR' | translate }}
	      </p>
	    </div>
	</div>
	<div class="col-sm-10">
	    <div class="thumbnail">
	      <div class="caption text-center">
	      	<h3>{{ 'PRICING_TOP_HL' | translate }}</h3>
	      	<span class="label label-success">45 EUR</span></div>
	      <p class="text-center">
	      	{{ 'PRICING_TOP_HL_DESCR' | translate }}
	      </p>
	    </div>
	</div>
</div>

<div class="row">
  <div class="col-sm-20">
  	<hr>
  	<img src="/public/img/payments-overview.png" class="img-responsive ctr">
  </div>
</div>
