<ion-view title="{{ 'UBOULDER' | translate }}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  	
		<div class="row">
			<div class="col-sm-20">
				<h1><a ng-back></a> Terms of Service</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-20">
			<p>The company "dimocom e.U." is the operator of the app uBoulder and will be called "uBoulder" in the following document. All services related to uBoulder underly these Terms of Service (ToS).</p>

			<h4>1. Sphere of action</h4>
			All services offered by uBoulder as well as every contract between any user and sharedspaces is based on the ToS. The user will be notified at least three days in advance, if the ToS will be changed. In this case, the users have a four week period for their right of objection. After this period, the new ToS will be applied and henceforth be valid.

			<h4>2. Contracts between uBoulder and the user</h4>
			If a user uses any service provided by uBoulder, a valid contract between uBoulder and the user has been established without any further legal act.
			
			<h4>3. Services offered by uBoulder</h4>
			uBoulder offers its services free of charge for the users. This includes:<br>
			+ The development and assistance of a "user content"-generated content on this platform.<br>
			All services are described on the website. All services offered at the moment are provided revocable. The variety of services is dependent on the technical feasibility and advancement. The users have an extraordinary right of termination within three days, if confinements in relation to the services offered occur for a longer period of time. This right of termination is not valid for upgrades or any other works to improve the quality of the platform.
			
			<h4>4. Usage of uBoulder</h4>
			All users commit themselves to respect the Terms of Service, morality and prevailing legal norms and furthermore the privacy of other users. uBoulder reserves the right to delete spots, if the points mentioned before are being ignored. uBoulder reserves the right to add related information to user-generated content.<br>
			uBoulder is not in charge of the content provided by the user using the platform, but with the addition that the content is being checked randomly as well as event-driven.
			
			<h4>5. Rights</h4>
			By using uBoulder, the user grants the right to the temporally and physically unrestricted use of the content and data produced by the user him/herself for the public. uBoulder is allowed to make use of this data by publishing, providing, modifying, translating etc it. This abandoning of rights is revocable by the user, but cannot be used ex post, after data has already been published etc.
			
			<h4>6. Forbidden content</h4>
			Every user has to be sure that the content s/he provides is not wholly or partly under legal protection by a third party. uBoulder is not accountable for content provided by users that harms copyrights etc. It is furthermore forbidden to publish pornographic, racist, discriminatory, blasphemous, abusive, national socialist, morally objectionable or political extremist content - or any other content that harms other rights and norms - on the platform. This includes links and images. The users must not use applications that could cause malfunction on the servers of uBoulder and/or on other users’ hard- or software.
			
			<h4>7. Guarantee and Liability</h4>
			uBoulder does not warrant that all services provided are devoid of errors or malware. uBoulder is only responsible for grossly negligent or deliberate behavior, but not for any circumstances in relation with user misbehavior and/or the neglect of Terms of Service.

			<h4>8. Public authorities</h4>
			uBoulder has to pass on relevant data to public authorities if required. Furthermore, uBoulder is in bond to report any illegal acts.
			
			<h4>9. Applied law</h4>
			All contractual relations between the user and uBoulder are based on Austria law. The court of jurisdiction in every relationship is primarily Vienna (Austria).
			
			<h4>10. Final provisions</h4>
			All agreements between uBoulder and the users are valid if sent and received by email. If any provision of the contract shall be invalid or impracticable in whole or in part this shall not affect the validity of the remaining part of this contract. In lieu of the invalid or impracticable provision an appropriate provision shall apply which is nearest to the intent of the contracting parties of to what would have been their intention in keeping with the meaning an purpose of the contract if they had considered this issue at the conclusion of the contract or at a later addition of a provision.
			</div>
		</div>

  </ion-content>
</ion-view>