<ion-view title="{{ 'UBOULDER' | translate }}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

		<div class="row">
			<div class="col-sm-10 col-sm-offset-5 text-center top-pad">
		  		<h2>{{ '404' | translate }}</h2>
		  		<p>
		  			<a href="#/home" class="btn btn-primary btn-lg btn-block">{{ '404_HOME' | translate }}</a>
		  	</div>
		</div>

	</ion-content>
</ion-view>