<ion-view title="{{ 'UBOULDER' | translate }}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <div class="row">
      <div class="pull-right edit">
        <a href="#/app/edit/{{ vm.spot.id }}"><i class="ion-edit"></i> {{ 'SPOT_WIDGET_EDIT' | translate }}</a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-20">
        <h1 class="ad-detail"><a ng-back></a> {{ vm.spot.title }} </h1>
      </div> 
    </div>

    <div class="row">
      <div class="col-sm-5 pull-right text-right">
        <address itemprop="address">
          <i class="ion-android-location"></i> {{ vm.spot.address.zip }} {{ vm.spot.address.city }}
        </address>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10">
          <p itemprop="description">{{ vm.spot.description }}</p>
      </div>
    </div>

    <div class="row">
      <div ng-show="vm.offlineService.isOnline()" id="spot-images">
        <widget-img images="vm.spot.media" ng-if="vm.hasImage"></widget-img>
      </div>
      <div ng-show="vm.offlineService.isOffline()" class="col-sm-20 text-center" id="spot-images-offline">
        <img src="images/carousel_offline.png" height="300" class="img-responsive">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-20">
        <hr class="no-mrg-bt">
      </div>
    </div>

    <div class="row pPricing" ng-if="vm.spot.pricing.length > 0">
      <div class="col-sm-10">
        <h2 class="ad-detail">{{ 'PRICING' | translate }}</h2>
        <table class="table table-condensed">
          <tr ng-repeat="pricing in vm.spot.pricing">
            <td><strong>{{ pricing.description }}</strong></td>
            <td>€ {{ pricing.amount }}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-20">
          <div id="map" style="height:250px"></div>
      </div>
    </div>

    <div class="row" ng-show="vm.offlineService.isOnline()">
      <div class="col-sm-20">
        <a class="oratio-widget" href="https://www.orat.io/org/107" data-widget-id="qz4ndp3selum" 
        data-page-id="{{ vm.spot.id }}" data-title="{{ vm.spot.title }}">Discuss on orat.io</a><script type="text/javascript" src="//www.orat.io/js/widget/stmt.inc.min.js"></script>
      </div>
    </div>

  </ion-content>
</ion-view>