<div class="spot-image-container">
	<div style="width:{{ width }}px;height:{{ height }}px;" class="ad-images">
	<ul rn-carousel rn-carousel-index="vm.slideIndex" class="ad-image text-center" style="height:{{ height-20 }}px;">
		<li ng-repeat="image in vm.spot.media" class="ad-image" style="background: transparent url('{{ image.url }}/{{ width }}/{{ height-20 }}/fit_to_height') no-repeat center center;">
      	</li>
	</ul>
	</div>
	<div class="text-center img-thumb-container">
		<img ng-repeat="image in vm.spot.media" ng-src="{{ image.url }}/50/50/crop" class="img-thumb" ng-click="vm.slideIndex=$index" style="margin: 0 10px" ng-class="{'img-thumb-active': vm.slideIndex == $index}" />
	</div>
</div>